@model ZenCart.Models.ResetPassword
@{
    Layout = null;
}

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "resetPasswordForm" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="token" value="@ViewBag.Token" />

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Reset Password</button>
        </div>
    </div>
}
